
  .first{ 
    background-color: rgb(183, 182, 184);
  
  }
  .first:hover {
    background-color: #617143;
  }
  .second
  { 
  background-color:rgb(84, 80, 216);
  margin-left: 600px;
  margin-top: -200px;
  position: relative;
  
  }
  .second:hover {
    background-color: #898121 ;
  
  }
  
  .third 
  {
    background-color: rgb(128, 130, 132);
    margin-left: 300px;
  }
  .third:hover {
    background-color: #3795BD;
  }
  .fourth 
  {
    background-color:#FFB84C;
  }
  .fourth:hover {
    background-color: #16FF00;
  
  }
  .fifth 
  {
  
    background-color: rgb(233, 162, 136);
    margin-left: 600px;
    margin-top: -200px;
  }
  .fifth:hover {
    background-color: #FC7300;
  }
  div{ 
    width: 300px ;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    line-height: 50px;
    
  }