
  .first{ 
    background-color: rgb(183, 182, 184);
  
  }
  .first:hover {
    background-color: azure;
  }
  .second
  { 
  background-color:rgb(84, 80, 216);
  margin-left: 600px;
  margin-top: -200px;
  position: relative;
  
  }
  .second:hover {
    background-color:  rgb(22, 198, 247);
  
  }
  
  .third 
  {
    background-color: rgb(128, 130, 132);
    margin-left: 300px;
  }
  .third:hover {
    background-color: rgb(22, 198, 247);
  }
  .fourth 
  {
    background-color:rgb(79, 117, 193);
  }
  .fourth:hover {
    background-color: rgb(222, 226, 231);
  
  }
  .fifth 
  {
  
    background-color: rgb(233, 162, 136);
    margin-left: 600px;
    margin-top: -200px;
  }
  .fifth:hover {
    background-color: rgb(109, 184, 241);
  }
  div{ 
    width: 300px ;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    line-height: 50px;
    
  }